/* reset */
body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h1,
h2 {
  font-size: inherit;
  font-weight: normal;
}

img {
  vertical-align: top;
}

/* typography */
:root {
  word-break: keep-all;
}

/* layout */
.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
}

.grid {
  display: flex;
  gap: 20px;
}

.grid-item {
  flex-grow: 1;
  width: 150px;
}

/* contents */
.header,
.main {
  text-align: center;
  margin: 20px 0;
}

.header-title {
  color: dodgerblue;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  font-family: serif;
  border-bottom: 5px solid;
  display: inline-block;
}

.header-description {
  text-align: right;
  font-style: italic;
  margin-top: 10px;
}

.main-cover {
  width: 70%;
  border-radius: 20px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.2);
}

.main-contents {
  padding: 40px 0;
}

.character {
  height: 100%;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 30px 15px;
  box-sizing: border-box;
}

.character-cover {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.character-name {
  margin: 20px 0;
  font-size: 25px;
}

.character-description {
  color: grey;
  font-size: 14px;
}
